<div class="container">
  <div class="messages">
    <% @messages.each do |message| %>
      <% if message.is_a?(GuestMessage) %>
        <%= render 'guest_messages/message', message: message %>
      <% end %>

      <% if message.is_a?(AiMessage) %>
        <%= render 'ai_messages/message', message: message %>
      <% end %>
    <% end %>
  </div>

  <%= form_with model: GuestMessage.new, url: conversation_guest_messages_path(@conversation), method: :post, class: "form" do |form| %>
    <div class="mb-3">
      <%= form.label :content, class: "form-label" %>
      <%= form.text_field :content, class: "form-control" %>
    </div>
    <%= form.submit 'Send', class: 'btn btn-primary' %>
  <% end %>
</div>
